{% extends "@App/base.html.twig" %}

{% block title %}{{ parent() }} : {{ 'User password change'|trans }} {% endblock %}
{% block pageTitle %}<h1>{{ 'User password change'|trans }}</h1>{% endblock %}

{% block body %}
    <div class="row" id="volume-list-page">
        <div class="col-sm-10" style="margin: auto; float: none">
            {% include '@App/layout-component/flash.html.twig' %}
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption caption-md title-text-center">
                        <i class="icon-bar-chart theme-font hide"></i>
                        <span class="caption-subject theme-font bold uppercase">{{ "User Password Change"|trans }}</span>
                    </div>
                </div>
                <div class="portlet-body">
                    {% include "UserBundle:User:update.password_content.html.twig" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}